.App {
  text-align: center;
  background-color:
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-cursor{
  transition: all .3s;
}
button{
  position: relative;
}

.Progress {
    display: none;
}

.Rep:hover .Progress {
    display: block;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
